research/data/*
research/outputs/*
research/search/*
research/*.zip
analysis-runs-do-not-commit/*
.DS_Store
__pycache__/*
research/notebooks/evaluation/outputs/*
research/notebooks/evaluation/__pycache__/*
